@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body.light-theme {
  background-color: white;
  transition: 0.3s;
}

body.dark-theme {
    background-color: rgb(31, 31, 31);
    transition: 0.3s;
}

header {
    color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #164484;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}

@keyframes ani1 {
  0% {transform: translateX(150%);}
  100% {transform: translateY(0);}
}
  
.name {
    height: 50px;
    width: auto;
    user-select: none;
}
  
.a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    color: whitesmoke;
}
  
.a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    border-radius: 20px;
    transform: scaleX(0);
    transition: transform .5s;
}
  
.a:hover::after {
    transform: scaleX(1);
}

main {
    margin-top: 120px;
}

.zag {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: 0.3s;
    flex-direction:row;
    flex-wrap:wrap;
}

.disabled {
    display: flex;
}

.me {
    text-align: center;
    width: 300px;
    color: #164484;
    border: 2px solid #164484;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
    transition: 0.3s;
    flex-direction:row;
    flex-wrap:wrap;
}

.me1 {
    text-align: center;
    width: 600px;
    color: #164484;
    border: 2px solid #164484;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
    transition: 0.3s;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top: 100px;
}

.me:hover {
    color: whitesmoke;
    background-color: #164484;
    transition: 0.3s;
}

.me1:hover {
    color: whitesmoke;
    background-color: #164484;
    transition: 0.3s;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 22px;
    gap: 20px;
    flex-direction:row;
    flex-wrap:wrap;
    transition: 0.3s;
}

.one {
    width: 300px;
    transition: 0.3s;
    flex-direction:row;
    flex-wrap:wrap;
}

.chatp {
    height: auto;
    width: 500px;
    border-radius: 20px;
    transition: 0.3s;
}

.razd {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-direction:row;
    flex-wrap:wrap;
    transition: 0.3s;
}

.r11 {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.product-heading{
    margin-top: 3px;
}

.product1-heading{
    margin-top: 10px;
}

.product {
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid #164484;
    transition: 0.3s;
    box-shadow: 5px 5px 20px 1px rgba(133, 133, 133, 0.425) ;
}

.product1 {
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid #164484;
    transition: 0.3s;
    box-shadow: 5px 5px 20px 1px rgba(133, 133, 133, 0.425) ;
}

.product:hover {
    color: whitesmoke;
    background-color: #164484;
    transition: 0.3s;
}

.product1:hover {
    color: whitesmoke;
    background-color: #164484;
    transition: 0.3s;
}

.product-image {
    border-radius: 20px;
}

.product1-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.buy {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #133a72;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 5px;
}
  
.buy:hover {
    background: #103261;
    transition: 0.3s;
}
  
.buy:focus {
    outline: none;
    box-shadow: 0 0 0 4px #a2b9d8;
    transition: 0.3s;
}

footer {
    position: absolute;
    color: whitesmoke;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #164384;
}

.name-f {
    height: 40px;
    width: auto;
    user-select: none;
}

.tuvo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 300px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.img-tuvo {
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 10px rgba(133, 133, 133, 0.425) ;
}

.treb {
    margin-top: 10px;
    font-weight: bold;
}

.text-tuvo {
    border: 2px solid #164384;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 20px 20px 20px 10px rgba(133, 133, 133, 0.425) ;
    transition: 0.3s;
}

.spisok {
    margin-top: 10px;
    list-style-type: none;
}

.btn-tuvo {
    border: 2px solid #164384;
    border-radius: 10px;
    background-color: #164384;
    height: 40px;
    padding: 0 16px 0 16px;
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
    margin-top: 10px;
}

.VkIdWebSdk__button_reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}
 
     .VkIdWebSdk__button {
       background: #0077ff;
       cursor: pointer;
       transition: all .1s ease-out;
     }
 
     .VkIdWebSdk__button:hover{
       opacity: 0.8;
     }
 
     .VkIdWebSdk__button:active {
       opacity: .7;
       transform: scale(.97);
     }
 
     .VkIdWebSdk__button {
       border-radius: 8px;
       width: 200px;
       min-height: 44px;
     }
 
     .VkIdWebSdk__button_container {
       display: flex;
       align-items: center;
       padding: 8px 10px;
     }
 
     .VkIdWebSdk__button_icon + .VkIdWebSdk__button_text {
       margin-left: -28px;
     }
 
     .VkIdWebSdk__button_text {
       display: flex;
       font-family: 'Montserrat';
       flex: 1;
       justify-content: center;
       color: #ffffff;
     }

@media (max-width: 497px) {
    .product {
        flex-basis: 100%;
    }

    .product1 {
        flex-basis: 100%;
    }
    
    .chatp {
        width: 280px;
        height: auto;
    }

    .img-tuvo {
        width: 310px;
        height: auto;
    }

    .product1-image {
        width: 260px;
        height: auto;
    }
    
    main {
        margin-top: 140px;
    }

    .name-f {
        font-size: 14px;
    }
}

@media (min-width: 498px) and (max-width: 510px) {
    .product {
        flex-basis: 100%;
    }

    .product1 {
        flex-basis: 100%;
    }

    .chatp {
        width: 480px;
        height: auto;
    }

}

@media (min-width: 511px) and (max-width: 960px) {
    .product {
        flex-basis: 100%;
    }

    .product1 {
        flex-basis: 100%;
    }

    .chatp {
        width: 800px;
        height: auto;
    }
}

@media (min-width: 961px) and (max-width: 1600px) {
    .product {
        flex-basis: 40%;
    }

    .product1 {
        flex-basis: 45%;
    }

    .chatp {
        width: 800px;
        height: auto;
    }
}

@media (min-width: 1601px) {
    .product {
        flex-basis: 10%;
    }

    .product1 {
        flex-basis: 10%;
    }
}
